#steam_Inv_His_Filter_Window {
  
  position: sticky;
  position: -webkit-sticky;
  box-sizing: border-box;
}

.steam_filter_hide_class {
  display: none !important;
}

.steam_inv_filter_modal{
  position: fixed !important;
  z-index: 1000;
  max-width: 1908px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#steam_filter_loading_icon {
  scale: 1.2;
}

/* Desktop */
@media only screen and (min-width: 1601px) {
  #steam_Inv_His_Filter_Window:not(.steam_Inv_His_Filter_Window_top) {
    width: 894px;
    /*background-color: #1b2838;*/
    
    top: 0px;
    margin: auto;
    margin-bottom: 25px;
    grid-column-gap: 0px;
    
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-row-gap: 0px;

    background-color: #1c1f21;
    border-color: rgba(44, 50, 53);
    border-width: 1px;
    border-style: solid;
  }

  .steam_Inv_His_Filter_Window_top {
    top: 10vh;
    display: flex;
    justify-content: space-between;
  }

  #BG_bottom {
    top: 0 !important;
  }

  #steam_Inv_His_Options {
    
    background-color: #1c1f21;
    border-color: rgba(44, 50, 53);
    border-width: 1px;
    border-style: solid;
    order: 1;
  }

  #filter_Transfer_List {
    width: min-content;
    /*margin-left: auto;*/
    
    border-color: rgba(44, 50, 53);
    border-width: 1px;
    border-style: solid;
    order: 2;
  }
}

/* Mobile */
@media only screen and (max-width: 1600px) {
  #steam_Inv_His_Filter_Window {
    width: 894px;
    /*background-color: #1b2838;*/
    
    top: 0px;
    margin: auto;
    margin-bottom: 25px;
    grid-column-gap: 0px;
    
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    grid-row-gap: 0px;

    background-color: #1c1f21;
    border-color: rgba(44, 50, 53);
    border-width: 1px;
    border-style: solid;
    z-index: 10;
  }

  .filter_window_minimized {
    top: 0px !important;
    left: 0px !important;
    width: 60px !important;
    height: 60px !important;
    overflow: hidden;
    float: left;
  }

  .filter_window_minimized #filter_Transfer_List,
  .filter_window_minimized #steam_Inv_His_Options
  {
    display: none;
  }

  .filter_window_minimized #filter_window_open {
    display: block !important;
  }
}

#filter_window_open {
  display: none;
}

#steam_Inv_His_Options h1 {
  text-align: center;
}

button {
  cursor: pointer;
}

#steam_Inv_His_Options {
  display: block;
}


#filter_Transfer_List {
  display: flex;
  justify-self: flex-start;
}

.container {
  text-align: center;
  width:200px;
  display: inline-block;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
}

.container-2 {
  text-align: center;
  cursor: pointer;
  
  display: flex;
  align-content: center;
}

.container-3 {
  text-align: center;
  width:200px;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  margin: 0 auto;
  border-radius: 6px;
}

#filter_Transfer_List .list-Title {
  width: 100%;
  background: linear-gradient(to right, #00ccff, #3366ff);
  border-radius: 4px;
  color: #ffffff;
}

.filter-List {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0;
}

.transfer {
  display: block;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.filter-List li {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 400;

  padding: 10px;
  color: #b1b1b1;

  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  
  border-radius: 4px;
  display: block;
  background-color: #32363f;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  transition:0.2s all ease-out;
}

.filter-List li:last-child {
  margin-bottom: 15px;
}
.filter-List li:first-child {
  margin-top: 15px;
}

.filter-List li:hover {
  /*border: 1px solid #ffffff;
  /*background-color: #434c51;*/
  background: linear-gradient( to right, #464d58 5%, #464d58 95%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}



.selected {
  background: linear-gradient(to right, #00c0f0, #3161f3);
    color: #ffffff !important;
}
.selected:hover {
  background: linear-gradient(to right, #4bdbff, #537eff) !important;
}
li {
  cursor: pointer;
}

.steam_filter_gui_button_group > * {
  padding: 0;
  margin: 0;
}

.steam_filter_gui_button_group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tool_button_group {
  flex-direction: column;
}

.tool_button_group li {
  margin: auto;
}

.transfer_buttons {
  aspect-ratio: 1;
}

.steam_filter_gui_button {

  font-family: "Motiva Sans", Sans-serif;
  font-weight: 400;

  padding: 10px;
  color: #b1b1b1;

  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  
  border-radius: 4px;
  border-width: 0;
  display: block;
  background-color: #32363f;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  transition:0.2s all ease-out;
}

.steam_filter_gui_button:hover {
  background: linear-gradient( to right, #464d58 5%, #464d58 95%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}














/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#Access_Steam_inline_functions {
  display: none;
}
