

.steam_inv_filter_modal{
  position: fixed !important;
  z-index: 1000;
  max-width: 1908px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#steam_filter_loading_icon {
  scale: 1.2;
}