<div id="steam_Inv_His_Filter_Window">
  <label for="lname">Tag to edit:</label><br>
    <input type="text" id="steam_Inv_His_Filter_Tag_Input" name="lname"><br>
    <!-- Rounded switch -->
    <label for="lname">Keep | Remove</label><br>
    <label class="switch">
      <input id="steam_Inv_His_Filter_Type_Switch" type="checkbox">
      <span class="slider round"></span>
    </label><br>
    <button id="steam_Inv_His_Filter_Apply_Btn">Apply Tag Filter</button><br>
    <button id="steam_Inv_His_Filter_Clear_Btn">Clear Filter</button>
</div>