<div id="steam_Inv_His_Filter_Window">
  <div id="steam_Inv_His_Options">
    <h1>Filter</h1>
    <label for="lname">Date filter</label><br>
    <input type="text" id="steam_Inv_His_Filter_Tag_Input" name="lname"><br>
    <!-- Rounded switch -->
    <label for="lname">Minimize Window</label><br>
    <label class="switch">
      <input id="steam_Inv_His_Filter_Type_Switch" type="checkbox">
      <span class="slider round"></span>
    </label><br>
    <button id="steam_Inv_His_Filter_Apply_Btn">Apply Tag Filter</button><br>
    <button id="steam_Inv_His_Load_All">func</button><br>
    <button id="steam_Inv_His_Filter_Clear_Btn">Clear Filter</button><br>
    <button class="steam_filter_Options_Win_Dismiss">Open Filter</button><br>
    <span>future automatic loading button</span><br>
    <span>Ideas:</span><br>
    <span>filter type of container by looking for key or type of case</span><br>
    <span>advanced filter, by letting you enter prompt</span><br>
    <span>minimize when moblie version</span>
  </div>

  <!--<div id="filter_Transfer_List">
    <div class="container">
      <div class="list-1">
        <h3 class="list-Title">Show</h3>
        <ul id="filter_list_show" class="list1 filter-List">
          <li data-tag="Earned"> Medals </li>
          <li data-tag="Moved to Storage Unit"> Storage Unit </li>
          <li data-tag="Got an item drop"> Case Drops </li>
          <li data-tag="Earned a new rank and got a drop"> Item Drops </li>
          <li data-tag="You traded with "> Trades </li>
          <li data-tag="Unlocked a container"> Container Opened </li>
          <li data-tag="Purchased from the store"> Store Purchases </li>
          <li data-tag="You purchased an item on the Community Market."> Market Purchases </li>
          <li data-tag="You listed an item on the Community Market."> Market Created Listings </li>
          <li data-tag="You canceled a listing on the Community Market. The item was returned to you."> Market Removed Listings </li>
          <li data-tag="Used"> Used </li>
          <li data-tag="Earned a souvenir drop"> Souvenir drop </li>
          <li data-tag="Crafted"> Trade ups </li>
          <li data-tag="Sticker applied"> Sticker applied </li>
          <li data-tag="Sticker removed"> Sticker removed </li>
          <li data-tag="You deleted"> Deleted Item </li>
          <li data-tag="Unsealed"> Unsealed Graffiti </li>
          <li data-tag="Mission reward"> Mission Reward (Operations) </li>
        </ul>
      </div>
    </div>
    <div class="container-2">
      <div class="transfer">
        <input type='button' value='<<' id='move_left' />
        <input type='button' value='>>' id='move_right' />
        <button id="reset_filter_list">Reset</button>
        <button id="hide_all_filter_list">Hide All</button>
      </div>
    </div>
    <div class="container-3">
      <div class="list-2">
        <h3 class="list-Title">Hide</h3>
        <ul class="list2 filter-List">
        </ul>
      </div>
    </div>
  </div>-->

  <div id="filter_window_open">
    <button id="filter_window_open_btn">X</button>
  </div>
</div>



<!-- Filter Options V2 -->
<div class="steam_filter_hide_class2 steam_filter_dialog_group" id="steam_filter_Options">
  <div class="newmodal steam_inv_filter_modal" data-panel="{&quot;onCancelButton&quot;:&quot;CModal.DismissActiveModal()&quot;}">
    <div class="modal_top_bar"></div>
    <div class="newmodal_header_border">
      <div class="newmodal_header">
        <div class="newmodal_close steam_filter_Options_Win_Dismiss" data-panel="{&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"></div>
        <div id="steam_filter_Options_Win_Title_Text" class="title_text">Filter Options</div>
      </div>
    </div>
    <div class="newmodal_content_border">
      <div class="newmodal_content">
        <div id="steam_filter_Options_Message">
          
          <div id="filter_Transfer_List">
            <div class="container">
              <div class="list-1">
                <h3 class="list-Title">Show</h3>
                <ul id="filter_list_show" class="list1 filter-List">
                  <li data-main-tag="Earned"> Medals </li>
                  <li data-main-tag="Moved to Storage Unit"> Storage Unit </li>
                  <li data-main-tag="Got an item drop"> Case Drops </li>
                  <li data-main-tag="Earned a new rank and got a drop"> Item Drops </li>
                  <li data-main-tag="You traded with "> Trades </li>
                  <li data-main-tag="Unlocked a container"> Container Opened </li>
                  <li data-main-tag="Purchased from the store"> Store Purchases </li>
                  <li data-main-tag="You purchased an item on the Community Market."> Market Purchases </li>
                  <li data-main-tag="You listed an item on the Community Market."> Market Created Listings </li>
                  <li data-main-tag="You canceled a listing on the Community Market. The item was returned to you."> Market Removed Listings </li>
                  <li data-main-tag="Used"> Used </li>
                  <li data-main-tag="Earned a souvenir drop"> Souvenir drop </li>
                  <li data-main-tag="Crafted"> Trade ups </li>
                  <li data-main-tag="Sticker applied"> Sticker applied </li>
                  <li data-main-tag="Sticker removed"> Sticker removed </li>
                  <li data-main-tag="You deleted"> Deleted Item </li>
                  <li data-main-tag="Unsealed"> Unsealed Graffiti </li>
                  <li data-main-tag="Mission reward"> Mission Reward (Operations) </li>
                </ul>
              </div>
            </div>
            <div class="container-2">
              <div id="steam_filter_searchbar_win">
                <h3 class="list-Title">Search</h3>
                <form id="steam_filter_searchbar_win_form" action="">
                  <div class="searchbar_container">
                    <label class="searchbar_form_object steam_filter_gui_label" for="searchbar">Search</label>
                    <input class="searchbar_form_object steam_filter_gui_input" type="text" id="searchbar_data" name="searchbar_data">
                    <label class="searchbar_form_object steam_filter_gui_label" for="label">Alt. Label</label>
                    <input class="searchbar_form_object steam_filter_gui_input" type="text" id="label_data" name="label_data">
                    <div>
                      <input class="searchbar_form_object steam_filter_gui_button" type="submit" id="add_search_filter" name="add_search_filter" value="Add">
                      <input class="searchbar_form_object steam_filter_gui_button" type="submit" id="add_search_filter" name="add_search_filter" value="Search">
                    </div>
                  </div>
                </form>
                <div id="steam_filter_searchbar_advanced_container">
                  <button id="steam_filter_searchbar_advanced" class="steam_filter_gui_button">Advanced</button>
                </div>
              </div>
              <div class="transfer">
                <ul class="steam_filter_gui_button_group transfer_button_group">
                  <li><button class="steam_filter_gui_button transfer_buttons" id="move_left">⮜</button></li>
                  <li><button class="steam_filter_gui_button transfer_buttons" id='move_right'>⮞</button></li>
                </ul>
                <ul class="steam_filter_gui_button_group tool_button_group">
                  <li><button class="steam_filter_gui_button" id="reset_filter_list">Show All</button></li>
                  <li><button class="steam_filter_gui_button" id="hide_all_filter_list">Hide All</button></li>
                </ul>
              </div>
            </div>
            <div class="container-3">
              <div class="list-2">
                <h3 class="list-Title">Hide</h3>
                <ul class="list2 filter-List">
                </ul>
              </div>
            </div>
          </div>

        </div>
        <div class="newmodal_buttons" data-panel="{&quot;flow-children&quot;:&quot;row&quot;}">
          <div id="steam_filter_Options_Win_Btn" class="btn_grey_steamui btn_medium steam_filter_Options_Win_Dismiss" data-panel="{&quot;autoFocus&quot;:true,&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"><span id="steam_filter_Options_Win_Btn_Txt">CLOSE</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="newmodal_background" style="opacity: 0.8;"></div>
</div>

<!-- Stats -->
<div class="steam_filter_hide_class steam_filter_dialog_group" id="steam_filter_Stats">
  <div class="newmodal steam_inv_filter_modal" data-panel="{&quot;onCancelButton&quot;:&quot;CModal.DismissActiveModal()&quot;}">
    <div class="modal_top_bar"></div>
    <div class="newmodal_header_border">
      <div class="newmodal_header">
        <div class="newmodal_close steam_filter_alert_Win_Dismiss" data-panel="{&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"></div>
        <div id="steam_filter_Stats_Win_Title_Text" class="title_text">Stats</div>
      </div>
    </div>
    <div class="newmodal_content_border">
      <div class="newmodal_content" style="max-height: 1477px;">
        <div id="steam_filter_Stats_Message">DESC</div>
        <div class="newmodal_buttons" data-panel="{&quot;flow-children&quot;:&quot;row&quot;}">
          <div id="steam_filter_Stats_Win_Btn" class="btn_grey_steamui btn_medium steam_filter_alert_Win_Dismiss" data-panel="{&quot;autoFocus&quot;:true,&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"><span id="steam_filter_Stats_Win_Btn_Txt">BUTTON</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="newmodal_background" style="opacity: 0.8;"></div>
</div>

<!-- Loading Screen -->
<div class="steam_filter_hide_class" id="steam_filter_loading_screen">
  <div class="newmodal steam_inv_filter_modal">
    <div id="steam_filter_loading_icon" class="waiting_dialog_throbber newmodal"></div>
  </div>
  <div class="newmodal_background" style="opacity: 0.8;"></div>
</div>

<!-- Default Alert Dialog -->
<div class="steam_filter_hide_class steam_filter_dialog_group" id="steam_filter_alert_Dialog">
  <div class="newmodal steam_inv_filter_modal" data-panel="{&quot;onCancelButton&quot;:&quot;CModal.DismissActiveModal()&quot;}">
    <div class="modal_top_bar"></div>
    <div class="newmodal_header_border">
      <div class="newmodal_header">
        <div class="newmodal_close steam_filter_alert_Win_Dismiss" data-panel="{&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"></div>
        <div id="steam_filter_alert_Win_Title_Text" class="title_text">TITLE</div>
      </div>
    </div>
    <div class="newmodal_content_border">
      <div class="newmodal_content" style="max-height: 1477px;">
        <div id="steam_filter_alert_Message">DESC</div>
        <div class="newmodal_buttons" data-panel="{&quot;flow-children&quot;:&quot;row&quot;}">
          <div id="steam_filter_alert_Win_Btn" class="btn_grey_steamui btn_medium steam_filter_alert_Win_Dismiss" data-panel="{&quot;autoFocus&quot;:true,&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"><span id="steam_filter_alert_Win_Btn_Txt">BUTTON</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="newmodal_background" style="opacity: 0.8;"></div>
</div>

<!-- Loading History Dialog -->
<div class="steam_filter_hide_class steam_filter_dialog_group" id="Loading_For_Rows_Dialog">
  <div class="newmodal steam_inv_filter_modal" data-panel="{&quot;onCancelButton&quot;:&quot;CModal.DismissActiveModal()&quot;}">
    <div class="modal_top_bar"></div>
    <div class="newmodal_header_border">
      <div class="newmodal_header">
        <!--<div class="newmodal_close steam_Inv_Loader_Win_Dismiss" data-panel="{&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"></div>-->
        <div id="steam_Inv_Loader_Win_Title_Text" class="title_text">Loading History</div>
      </div>
    </div>
    <div class="newmodal_content_border">
      <div class="newmodal_content" style="max-height: 1477px;">
        <div id="steam_Inv_Loader_spin" class="waiting_dialog_throbber"></div>
        <div id="steam_Inv_Loader_Message">Please wait while all the history is being loaded...</div>
        <div>Rows added: <span id="inventory_history_count">0</span></div>
        <div>Loops done: <span id="inventory_history_loop_count">0</span></div>
        <div>Loaded date: <span id="inventory_history_load_date"></span></div>
        <div class="newmodal_buttons" data-panel="{&quot;flow-children&quot;:&quot;row&quot;}">
          <div id="steam_Inv_Loader_Win_Btn" class="btn_grey_steamui btn_medium steam_Inv_Loader_Win_Stop" data-panel="{&quot;autoFocus&quot;:true,&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"><span id="steam_Inv_Loader_Win_Btn_Txt">STOP</span></div>
          <div id="steam_Inv_Loader_Win_FBtn" class="btn_grey_steamui btn_medium steam_Inv_Loader_Win_Dismiss" data-panel="{&quot;autoFocus&quot;:true,&quot;focusable&quot;:true,&quot;clickOnActivate&quot;:true}"><span id="steam_Inv_Loader_Win_FBtn_Txt">FORCE STOP</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="newmodal_background" style="opacity: 0.8;"></div>
</div>

<!-- Access to inline scripts -->
<div class="steam_filter_hide_class">
  <button id="InventoryHistory_LoadMore_Access" onclick="InventoryHistory_LoadMore()"></button>
</div>